*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/key_for main key.txt
/app/release/
/mainkey.jks
/private_key.pepk
/new/
/app/build/
